@model SoteCare.Models.Treatment

@{
    ViewBag.Title = "Lisää hoito";
}

<h2>Lisää hoito potilaalle, @ViewBag.PatientName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.PatientID)

    <div class="form-horizontal">
        <h4>Hoitotiedot</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Potilas</label>
            <div class="col-md-10">
                <p class="form-control-static">@ViewBag.PatientName</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TreatmentType, "Hoitotyyppi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TreatmentType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TreatmentType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, "Aloituspäivämäärä", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, "Lopetuspäivämäärä", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedicationID, "Lääkitys", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(
                    model => model.MedicationID,
                    (SelectList)ViewBag.MedicationID,
                    "Valitse lääkitys",
                    new { @class = "form-control" }
                )
                @Html.ValidationMessageFor(model => model.MedicationID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, "Muistiinpanot", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", rows = 4 })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tallenna" class="btn btn-primary" />
                @Html.ActionLink("Takaisin", "Treatments", "Patients", new { id = Model.PatientID }, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}