@model SoteCare.Models.Treatment

@{
    ViewBag.Title = "Delete Treatment";
}

<h2>Delete Treatment</h2>

<h3>Are you sure you want to delete this treatment?</h3>

<div>
    <p><strong>Patient:</strong> @Model.Patients.FirstName @Model.Patients.LastName</p>
    <p><strong>Treatment Type:</strong> @Model.TreatmentType</p>
    <p><strong>Start Date:</strong> @Model.StartDate.ToShortDateString()</p>
    <p><strong>End Date:</strong> @(Model.EndDate.HasValue ? Model.EndDate.Value.ToShortDateString() : "Ongoing")</p>
    <p><strong>Notes:</strong> @Model.Notes</p>
</div>

@using (Html.BeginForm("Delete", "Treatments", new { id = Model.TreatmentID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Delete</button>
    @Html.ActionLink("Cancel", "Index", "Treatments", null, new { @class = "btn btn-secondary" })
}



@*<h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Treatment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TreatmentType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TreatmentType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Medications.MedicationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Medications.MedicationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Patients.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Patients.FirstName)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>*@
