@model SoteCare.Models.Users

<h2>User Profile</h2>
<div>
    @*<strong>Name:</strong> @Model.FullName <br />
    <strong>Email:</strong> @Model.Email <br />*@
    <strong>Role:</strong> @Model.Role <br />
    @if (ViewBag.Nurse != null)
    {
        <div>
            <strong>Nurse Department:</strong> @ViewBag.Nurse.Department
        </div>
    }
    @if (ViewBag.Doctor != null)
    {
        <div>
            <strong>Specialization:</strong> @ViewBag.Doctor.Specialization
        </div>
    }
</div>