@model SoteCare.Models.Observations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Observations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ObservationText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservationText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users1.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users1.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ObservationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
