@model SoteCare.Models.MedicationLists

<h2>Delete Medication List</h2>

<h3>Are you sure you want to delete this medication list?</h3>

<div>
    <h4>@Model.MedicationName</h4>
    <p>@Model.MedicationType</p>
    <p>@Model.Description</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">Delete</button>

    @Html.ActionLink("Back to List", "Index");
}


