<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - SoteCare</title>
    <link rel="stylesheet" href="~/Content/site.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Sidebar Navigation -->
    <div class="sidenav">
        <h4>SoteCare</h4>
        @*<input type="text" id="sideSearch" placeholder="Search..."> TAITAAPI OLLA TURHA TÄMÄ?*@

        <!-- Links visible to logged-in users only -->
        @if (Session["Role"] != null)
        {
            <a href="@Url.Action("Index", "Dashboard")">Ohjausnäkymä | SoteCare</a>
            <h6>Potilaat</h6>
            <a href="@Url.Action("Index", "Patients")">Potilaat</a>

            <h6>Lääkkeet</h6>
            <a href="@Url.Action("Index", "Medications")">Lääkkeet</a>
            @*<a href="@Url.Action("Index", "MedicationLists")">Medication Lists pois?</a> TAITAAPI OLLA TURHA TÄMÄ?*@

            <h6>Henkilökunta</h6>
            <a href="@Url.Action("Index", "Doctors")">Lääkärit</a>
            <a href="@Url.Action("Index", "Nurses")">Hoitajat</a>

            <!-- Logout Form (POST method) -->
            <h6>Kirjautuminen</h6>
            using (Html.BeginForm("Logout", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:void(0);" onclick="this.closest('form').submit();">Kirjaudu ulos</a>
            }


            if (Session["Role"].ToString().Equals("Doctor", StringComparison.OrdinalIgnoreCase))
            {
                <!-- Assign Patient to Nurse link for Doctors only -->
                <h6>Potilaan määritys</h6>
                <div class="nav-item">
                    <a class="nav-link" href="@Url.Action("AssignPatientToNurse", "Doctors")">Määritä potilas hoitajalle</a>
                </div>
            }
        }
        else
        {
            <!-- Links visible to logged-out users -->
            <a href="@Url.Action("Login", "Account")">Kirjaudu sisään</a>
            <hr />
            <a href="@Url.Action("RegisterDoctor", "Account")">Rekisteröidy lääkärinä</a>
            <a href="@Url.Action("RegisterNurse", "Account")">Rekisteröidy hoitajana</a>
        }
    </div>

    <!-- Main Content -->
    <div class="content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
