@model SoteCare.Models.Dosages

@{
    ViewBag.Title = "AddDosage";
}

<h2>Add Dosage for Medication: @ViewBag.MedicationName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dosage Information</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- Medication -->
        <div class="form-group">
            @Html.LabelFor(model => model.MedicationID, "Medication", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MedicationID, (SelectList)ViewBag.MedicationID, "Select Medication", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MedicationID, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Dosage Amount -->
        <div class="form-group">
            @Html.LabelFor(model => model.DosageAmount, "Dosage Amount", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DosageAmount, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DosageAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Frequency -->
        <div class="form-group">
            @Html.LabelFor(model => model.Frequency, "Frequency", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Frequency, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Frequency, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Start Date -->
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, "Start Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- End Date -->
        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, "End Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Route of Administration -->
        <div class="form-group">
            @Html.LabelFor(model => model.RouteOfAdministration, "Route of Administration", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RouteOfAdministration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RouteOfAdministration, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Instructions -->
        <div class="form-group">
            @Html.LabelFor(model => model.Instructions, "Instructions", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Instructions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Instructions, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Dosage" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Medications", "Index", "PatientMedications", new { id = ViewBag.PatientID }, new { @class = "btn btn-secondary" })
</div>
