@model SoteCare.Models.PatientMedications

@{
    ViewBag.Title = "Add Medication";
}

<h2>Lisää lääke potilaalle, @ViewBag.PatientName</h2>

@using (Html.BeginForm("Create", "PatientMedications", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PatientID)

    <div class="form-group">
        @Html.LabelFor(model => model.MedicationID, "Lääke")
        @Html.DropDownListFor(model => model.MedicationID, (SelectList)ViewBag.MedicationID, "Valitse lääke", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MedicationID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DosageID, "Annostelu")
        @Html.DropDownListFor(model => model.DosageID, (SelectList)ViewBag.DosageID, "Valitse annostelu", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DosageID, "", new { @class = "text-danger" })
    </div>

    <!-- Route of Administration -->
    <div class="form-group">
        @Html.Label("Annostelureitti")
        @Html.TextBoxFor(model => model.Dosages.RouteOfAdministration, new { @class = "form-control" })
        @Html.ValidationMessage("Dosages.RouteOfAdministration", "", new { @class = "text-danger" })
    </div>

    <!-- Doctor Dropdown -->
    <div class="form-group">
        @Html.LabelFor(model => model.DoctorID, "Lääkäri")
        @Html.DropDownListFor(model => model.DoctorID, (SelectList)ViewBag.Doctors, "Valitse lääkäri", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DoctorID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, "Aloitus päivämäärä")
        @Html.TextBoxFor(model => model.StartDate, new { @type = "date", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate, "Lopetus päivämäärä")
        @Html.TextBoxFor(model => model.EndDate, new { @type = "date", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
    </div>
    <br />

    <button type="submit" class="btn btn-success">Lisää lääke</button>
    <a href="@Url.Action("Details", "Patients", new { id = ViewBag.PatientID })" class="btn btn-secondary">
        Takaisin
    </a>
}