@model IEnumerable<SoteCare.Models.PatientMedications>

<h2>Patient Medications</h2>

<table class="table">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Medication</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Patients.FirstName</td> 
                <td>@item.Medications.MedicationName</td> 
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PatientMedicationID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PatientMedicationID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PatientMedicationID })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Create New", "Create")




