@model SoteCare.Models.Medications

<h2>@(Model.MedicationID == 0 ? "Add Medication" : "Edit Medication")</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.PatientID)

    <div class="form-group">
        @Html.LabelFor(m => m.MedicationName)
        @Html.TextBoxFor(m => m.MedicationName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MedicationName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Dosage)
        @Html.TextBoxFor(m => m.Dosage, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Dosage)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StartDate)
        @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.StartDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EndDate)
        @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.EndDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Frequency)
        @Html.TextBoxFor(m => m.Frequency, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Frequency)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RouteOfAdministration)
        @Html.TextBoxFor(m => m.RouteOfAdministration, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RouteOfAdministration)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Instructions)
        @Html.TextAreaFor(m => m.Instructions, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Instructions)
    </div>

    <button type="submit" class="btn btn-primary">@((Model.MedicationID == 0) ? "Add Medication" : "Update Medication")</button>
}