@model IEnumerable<SoteCare.Models.Medications>

<h2>Medications</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MedicationName)</th>
            <th>@Html.DisplayNameFor(model => model.MedicationType)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medication in Model)
        {
            <tr>
                <td>@medication.MedicationName</td>
                <td>@medication.MedicationType</td>
                <td>@medication.Description</td>
                <td>
                    <button class="btn btn-danger" onclick="showDeleteModal(@medication.MedicationID)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" onclick="showCreateModal()">Add Medication</button>
<div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Action</h5>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
        </div>
    </div>
</div>

<script>
	function showDeleteModal(id) {
    	const url = '@Url.Action("DeletePartial", "Medications", new { id = "__id__" })'.replace('__id__', id);
    	$("#modalBody").load(url, function () {
        	$("#modal").modal("show");
    	});
}

	function showCreateModal() {
    	const url = '@Url.Action("CreatePartial", "Medications")';
    	$("#modalBody").load(url, function () {
        	$("#modal").modal("show");
    	});
	}
</script>


@{
    Html.RenderPartial("_LoginModal", new SoteCare.Models.Users());
}

