@model SoteCare.Models.Medications

<h2>@Model.MedicationName - Lääketiedot</h2>

<div>
    <strong>Lääkitys:</strong> @Model.MedicationName
</div>
<div>
    <strong>Annostus (mg):</strong> @Model.Dosage
</div>
<div>
    <strong>Antotiheys:</strong> @Model.Frequency
</div>
<div>
    <strong>Ohjeet:</strong> @Model.Instructions
</div>
<div>
    <strong>Potilas:</strong> @Model.Patients.FirstName @Model.Patients.LastName
</div>
<a href="@Url.Action("MedicationsView", "Medications")" class="btn btn-primary">Back to List</a>