@model SoteCare.Models.Medications

<h3>Update Medication</h3>

@using (Html.BeginForm("UpdateMedication", "Medications", FormMethod.Post, new { id = "updateForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.MedicationName)
        @Html.TextBoxFor(m => m.MedicationName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MedicationName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PatientID)
        @Html.DropDownListFor(m => m.PatientID, (SelectList)ViewBag.Patients, "-- Select Patient --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PatientID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RefillStatus)
        @Html.TextBoxFor(m => m.RefillStatus, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RefillStatus, "", new { @class = "text-danger" })
    </div>

    <h4>Dosages</h4>
    <div id="dosages-container">
        @foreach (var dosage in Model.Dosages)
        {
            <div class="form-group">
                @Html.HiddenFor(d => dosage.DosageID)
                @Html.TextBoxFor(d => dosage.DosageAmount, new { @class = "form-control", placeholder = "Dosage Amount" })
                @Html.TextBoxFor(d => dosage.Frequency, new { @class = "form-control", placeholder = "Frequency" })
                @Html.TextBoxFor(d => dosage.Instructions, new { @class = "form-control", placeholder = "Instructions" })
                <hr />
            </div>
        }
    </div>

    <h4>Treatment</h4>
    <div class="form-group">
        @*@Html.LabelFor(m => m.Treatment.FirstOrDefault().StartDate)
        @Html.TextBoxFor(m => m.Treatment.FirstOrDefault().StartDate, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.Treatment.FirstOrDefault().StartDate, "", new { @class = "text-danger" })*@
    </div>

    <div class="form-group">
        @*@Html.LabelFor(m => m.Treatment.FirstOrDefault().EndDate)
        @Html.TextBoxFor(m => m.Treatment.FirstOrDefault().EndDate, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.Treatment.FirstOrDefault().EndDate, "", new { @class = "text-danger" })*@
    </div>

    <button type="submit" class="btn btn-primary">Update Medication</button>
    <a href="@Url.Action("MedicationsView", "Medications")" class="btn btn-secondary">Cancel</a>
}
