@model SoteCare.Models.Medications

@{
    ViewBag.Title = "Update Medication";
}

<h2>Update Medication</h2>

@using (Html.BeginForm())
 {
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.MedicationName)
        @Html.EditorFor(model => model.MedicationName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Dosage)
        @Html.EditorFor(model => model.Dosage)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Frequency)
        @Html.EditorFor(model => model.Frequency)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Instructions)
        @Html.EditorFor(model => model.Instructions)
    </div>

    <div class="form-group">
        @Html.Label("Patient")
        @Html.DropDownList("PatientID", ViewBag.Patients as SelectList, "Select a Patient", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Update Medication</button>
 }

@TempData["message"]
@TempData["error"]
