@model SoteCare.ViewModels.PHViewModel

<h2>Potilaan historia, @Model.PatientName</h2>

<!-- Diagnoosit -osio -->
<div class="card mb-4">
    <div class="card-header">
        <h3>Diagnoosit</h3>
    </div>
    <div class="card-body">
        @foreach (var diagnosis in Model.Diagnoses)
        {
            <div class="list-group">
                <div class="list-group-item">
                    <h4>@diagnosis.DiagnosisName</h4>
                    <p><strong>Diagnoosin päivämäärä:</strong> @(diagnosis.DiagnosisDate.HasValue ? diagnosis.DiagnosisDate.Value.ToString("dd-MM-yyyy") : "Päivämäärää ei ole")</p>
                    <p><strong>Muistiinpanot:</strong> @diagnosis.Notes</p>
                </div>
            </div>
        }
    </div>
</div>

<!-- Hoidot -osio -->
<div class="card mb-4">
    <div class="card-header">
        <h3>Hoidot</h3>
    </div>
    <div class="card-body">
        @foreach (var treatment in Model.Treatments)
        {
            <div class="list-group">
                <div class="list-group-item">
                    <h4>@treatment.TreatmentType</h4>
                    <p><strong>Tarkennus:</strong> @treatment.TreatmentDetails</p>
                    <p><strong>Aloituspäivämäärä:</strong> @treatment.StartDate.ToString("dd-MM-yyyy")</p>
                    <p><strong>Lopetuspäivämäärä:</strong> @(treatment.EndDate.HasValue ? treatment.EndDate.Value.ToString("dd-MM-yyyy") : "Käynnissä")</p>
                </div>
            </div>
        }
    </div>
</div>

<!-- Lääkitys -osio -->
<div class="card mb-4">
    <div class="card-header">
        <h3>Lääkitys</h3>
    </div>
    <div class="card-body">
        @foreach (var medication in Model.Medications)
        {
            <div class="list-group">
                <div class="list-group-item">
                    <h4>@medication.MedicationName</h4>
                    <p><strong>Aloituspäivämäärä:</strong> @medication.StartDate.ToString("dd-MM-yyyy")</p>
                </div>
            </div>
        }
    </div>
</div>

<!-- Takaisin-painike -->
<a class="btn btn-secondary" href="@Url.Action("Details", "Patients", new { id = ViewBag.PatientID })">Takaisin</a>
