@model SoteCare.Models.PatientHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PatientHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConditionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConditionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurgeryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurgeryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patients.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patients.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HistoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
