@model SoteCare.Models.Diagnoses

@{
    ViewBag.Title = "Delete";
}

<h2>Poista diagnoosi</h2>

<h3>Oletko varma että haluat poistaa tämän diagnoosin?</h3>

<div>
    <p><strong>Potilas:</strong> @Model.Patients.FirstName @Model.Patients.LastName</p>
    <p><strong>Diagnoosin nimi:</strong> @Model.DiagnosisName</p>
    <p><strong>Diagnoosin päivämäärä:</strong> @Model.DiagnosisDate</p>
    <p><strong>Muistiinpanot:</strong> @Model.Notes</p>
</div>

@using (Html.BeginForm("Delete", "Diagnoses", new { id = Model.DiagnosisID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Poista</button>
    <a href="@Url.Action("Diagnoses", "Patients", new { id = Model.PatientID })" class="btn btn-secondary">Takaisin</a>
}






@*<h2>Poista</h2>

<h3>Oletko varma, että haluat poistaa diagnoosin?</h3>
<div>
    <h4>Diagnoosi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiagnosisName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiagnosisName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiagnosisDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiagnosisDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patients.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patients.FirstName)
        </dd>

    </dl>



    @using (Html.BeginForm("Delete", "Diagnoses", new { id = Model.DiagnosisID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Poista</button>
        <a href="@Url.Action("Diagnoses", "Patients", new { id = Model.PatientID })" class="btn btn-secondary">Takaisin</a>
    }

    @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Poista" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
</div>*@
