@model SoteCare.Models.Treatment

@{
    ViewBag.Title = "Create Treatment";
}

<h2>Create Treatment</h2>

@using (Html.BeginForm("Create", "Treatment", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.PatientID, "Select Patient")
        @Html.DropDownListFor(m => m.PatientID, (SelectList)ViewBag.PatientID, "-- Select Patient --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PatientID)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TreatmentType, "Treatment Type")
        @Html.TextBoxFor(m => m.TreatmentType, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TreatmentType)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MedicationID, "Select Medication")
        @Html.DropDownListFor(m => m.MedicationID, (SelectList)ViewBag.Medications, "-- Select Medication --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MedicationID)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StartDate, "Start Date")
        @Html.TextBoxFor(m => m.StartDate, "{0:dd-MM-yyyy}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.StartDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EndDate, "End Date")
        @Html.TextBoxFor(m => m.EndDate, "{0:dd-MM-yyyy}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.EndDate)
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Treatment</button>
    </div>
}

@*i giv öp, nyt joku muu saa tehä, en saa toimimaan*@ 
