@model IEnumerable<SoteCare.Models.Treatment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="treatment-table">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Treatment</th>
            <th>Medication</th>
            <th>DosageAmount</th>
            <th>StartDate</th>
            <th>EndDate</th>
        </tr>
    </thead>
   <tbody>
       @foreach (var treatments in Model)
            {
                <tr>
                    <td>@treatments.Patients.FirstName @treatments.Patients.LastName</td>
                    <td>@treatments.TreatmentType</td>
                    <td>@treatments.Medication.MedicationName</td>
                    <td>@treatments.Dosages.DosageAmount</td>
                    <td>@treatments.StartDate?.ToString("dd-MM-yyyy")</td>
                    <td>@treatments.EndDate?.ToString("dd-MM-yyyy")</td>
                    <td>
                        <a href="@Url.Action("Create", "Treatment", new {id = treatments.TreatmentID})">Lisää hoito</a>
                        <a href="@Url.Action("Edit", "Treatment", new {id = treatments.TreatmentID})">Muokkaa hoito</a>
                        <a href="@Url.Action("Delete", "Treatment", new {id = treatments.TreatmentID})">Poista hoito</a>
                    </td>
                </tr>
            }
   </tbody>
</table>

