@model IEnumerable<SoteCare.Models.PatientHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Full list of SoteCare patients history</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ConditionName)</th>
        <th>@Html.DisplayNameFor(model => model.DiagnosisDate)</th>
        <th>@Html.DisplayNameFor(model => model.TreatmentDetails)</th>
        <th>@Html.DisplayNameFor(model => model.SurgeryDate)</th>
        <th>@Html.DisplayNameFor(model => model.Notes)</th>
        <th>@Html.DisplayNameFor(model => model.Patient.FirstName)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.ConditionName)</td>
        <td>@Html.DisplayFor(modelItem => item.DiagnosisDate)</td>
        <td>@Html.DisplayFor(modelItem => item.TreatmentDetails)</td>
        <td>@Html.DisplayFor(modelItem => item.SurgeryDate)</td>
        <td>@Html.DisplayFor(modelItem => item.Notes)</td>
        <td>@Html.DisplayFor(modelItem => item.Patient.FirstName)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HistoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HistoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HistoryID })
        </td>
    </tr>
}

</table>
