@model SoteCare.Models.Nurses

@{
    ViewBag.Title = "Details";
}

<h2>Info</h2>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <!-- Removed the Department field since it is no longer in the model -->

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">

        @Html.ActionLink("Takaisin", "Index", "Doctors", new { @class = "btn btn-secondary" })
    </div>
</div>