@model SoteCare.Models.Patients

@{
    ViewBag.Title = "Delete Patient";
}

<div class="container">
    <h2>Delete Patient</h2>

    <div class="alert alert-warning">
        <p>Are you sure you want to delete the following patient?</p>
    </div>

    <table class="table table-bordered">
        <tr>
            <th>Full Name</th>
            <td>@Model.FirstName @Model.LastName</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>@Model.DateOfBirth.ToString("dd-MM-yyyy")</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>@Model.Gender</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>@Model.PhoneNumber</td>
        </tr>
    </table>

    @using (Html.BeginForm("DeleteConfirmed", "Patients", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PatientID)

        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="@Url.Action("Index", "Patients")" class="btn btn-secondary">Cancel</a>
    }
</div>