@model SoteCare.Models.Patients

<div class="container">
    <h2>@Model.FirstName @Model.LastName</h2>

    <ul class="nav nav-tabs">
        <li class="@(ViewBag.ActiveTab == "Details" ? "active" : "")">
            <a href="@Url.Action("Details", "Patients", new { id = Model.PatientID })">Basic Info</a>
        </li>
        <li class="@(ViewBag.ActiveTab == "PatientHistory" ? "active" : "")">
            <a href="@Url.Action("PatientHistory", "Patients", new { id = Model.PatientID })">Treatment History</a>
        </li>
        <li class="@(ViewBag.ActiveTab == "Diagnoses" ? "active" : "")">
            <a href="@Url.Action("Diagnoses", "Patients", new { id = Model.PatientID })">Diagnoses</a>
        </li>
        <li class="@(ViewBag.ActiveTab == "PatientMedications" ? "active" : "")">
            <a href="@Url.Action("PatientMedications", "Patients", new { id = Model.PatientID })">Medications</a>
        </li>
        <li class="@(ViewBag.ActiveTab == "VitalFunctions" ? "active" : "")">
            <a href="@Url.Action("VitalFunctions", "Patients", new { id = Model.PatientID })">Vital Functions</a>
        </li>
    </ul>

    <!-- Main Content for Basic Info -->
    <div class="tab-content">
        <div class="tab-pane active">
            <table class="table table-bordered">
                <tr>
                    <th>Date of Birth</th>
                    <td>@Model.DateOfBirth.ToString("d")</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>@Model.Gender</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>@Model.Address</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Emergency Contact Name</th>
                    <td>@Model.EmergencyContactName</td>
                </tr>
                <tr>
                    <th>Emergency Contact Phone</th>
                    <td>@Model.EmergencyContactPhone</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to Patient List", "Index", "Patients", null, null)
    </div>
</div>


